
/**   L A Y O U T
      ===========
**/
body {
    margin:0;
    border:0;
    padding:0;
}
header {
    margin:0;
    border:0;
    padding:1em;
    background:#2d4373;
    color:#ffffff;
}
div.content {
    margin:0;
    border:0;
    padding:1em;
}
footer {
    margin:0;
    border:0;
    padding:1em;
    background:#2d4373;
    color:#ffffff;
}


/** Header Navigation **/
#logo {
    position: absolute;
    top:0.25em;
    left:0.25em;
    font-size: 2em;
    color: #1ab7ea;
}
#navicon {
    position:absolute;
    top:0.25em;
    right:0.75em;
    font-size:2em;
    display:inline;
    cursor:pointer;
    transition: display 0.5s;
}
#navicon-close {
    position:absolute;
    top:0.25em;
    right:0.75em;
    font-size:2em;
    display:none;
    cursor:pointer;
    transition: display 0.5s;
}
header h1 {
    margin:0 0 0 1.8em;
    border:0;
    padding:0;
    font-size:1.6em;
    color: #1ab7ea;
}
#mainnavi {
    height:100%;
}
header nav {
    margin:0;
    border:0;
    padding:2em 0 0 0;
}
header nav ul {
    margin:0;
    border:0;
    padding:0;
    font-size:1.4em;
    line-height: 1.8em;
    list-style-type: none;
}
header nav ul a {
    margin:0;
    text-decoration: none;
    color:#cccccc;
}
header nav ul a.active {
    color:#ffffff;
    font-weight: bold;
}


/** Footer Navigation **/
footer p {
    margin:0;
    border:0;
    padding: 0.5em;
    font-size: 1.2em;
}
footer a {
    color: #cccccc;
}
footer a.active {
    color: #ffffff;
}


/**   F O R M S   **/
form {
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


